body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #121212 ;
}

.current-works-heading {
    color: #9C9C9C;
    text-align: center  ;
    text-align: center  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
   /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    "wdth" 100;
    margin: 50px;
}

.Name {
    color: #9C9C9C;
    text-align: center  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    "wdth" 100;
    margin: 80px;
}
.current-works-paragraph { 
   color: #757575;
    text-align: center  ;
    text-align: center  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
   /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    width: 100;
    margin: 20px; 
}

a:link, a:visited {
  background-color: #878787;
  color: black;
  border: 2px solid lightskyblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.past-works-heading {
    color: #9C9C9C;
    text-align: center  ;
    text-align: center  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
   /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    "wdth" 100;
    margin: 50px;
}

.past-works-paragraph { 
   color: #757575;
    text-align: center  ;
    text-align: center  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
   /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    width: 100;
    margin: 20px; 
}

.body-paragraphs { 
   color: #757575;
    text-align: left  ;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
   /* font-weight: <weight>; */
    font-style: normal;
   /* font-variation-settings: */
    width: 100;
    margin: 20px; 
}

.profile .pfp {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile {
    text-align: center;
}